* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
:root {
  --color-primary: rgb(0, 0, 38);
  --color-secondary: rgb(4, 4, 167);
  --color-secondary-light: rgb(29, 126, 229);

  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-grey: rgb(56, 55, 55);
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* Ensure vertical scrollbar does not show */
}

.navbar {
  display: flex;
  background-color: gray;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar #logo img {
  height: 4rem;
  margin-left: 15px;
}

.navbar #list ul {
  display: flex;
  list-style: none;
}

.navbar #list ul li {
  font-size: 15px;
  padding: 10px;
}
#list ul li a{
  text-decoration: none;
  color: black;
}
#list ul li:hover {
  border-bottom: 2px solid rgb(250, 2, 2);
  /* padding: 2px 2px; */
  transform: translate(0, -10px);
}
.navbar #icons {
  display: flex;
  padding-right: 20px;
}

#icons i {
  padding-left: 10px;
}

.slideshow-container {
  width: 100vw;
  position: relative;
  margin-top: 10px;
}

.mySlides {
  display: none;
  width: 100vw;
  background-size: cover;
  height: 70vh;
}
button a{
  text-decoration: none;
  color: black;
}

.mySlides div h1,p{
  color: rgb(255, 255, 255);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slide1 {
  background-image: url("./pictures/slideshow/slider-1.jpg");
}

.slide2 {
  background-image: url("./pictures/slideshow/slider-2.jpg");
}

.cont-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  flex-wrap: wrap;
}

.txt {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 100px;
  /* flex-wrap: wrap; */
}

.txt button {
  width: 6rem;
  height: 2.5rem;
  border-radius: 5px;
  margin-top: 8px;
  opacity: 0.6;
}

.slide2 button {
  width: 6rem;
  height: 2.5rem;
  border-radius: 5px;
  margin-top: 8px;
  opacity: 0.6;
}

.slide2 div {
  position: relative;
  top: 20%;
  left: 20%;
}

.slide2 button:hover {
  opacity: 1;
}
.txt button:hover {
  opacity: 1;
}

.category-container {
  display: grid;
  grid-template-columns: 46vw 27vw 27vw;
  grid-template-rows: 40vh 40vh;
  gap: 6px;
  margin-top: 20px;
}
.boxes {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 20px;
  font-size: 0.8rem;

}
.boxes p{
    color: rgb(78, 78, 78);
    font-weight: 100px;
}
.boxes a{
    color: black;
    padding-top: 15px;
    font-weight: bolder;
}
.boxes a:hover{
    transform:scale(1.2);
}
.box1 {
  background-image: url("./pictures/Category/Women.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  grid-row: 1/3;
}
.box2 {
  background-image: url("./pictures/Category/category-2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.box3 {
  background-image: url("./pictures/Category/category-3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.box4 {
  background-image: url("./pictures/Category/category-4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.box5 {
  background-image: url("./pictures/Category/category-5.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.new-products{
    width: 70vw;
    height: 110vh;
    /* border: 2px solid yellow; */
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

}

.title-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
}
.title-row ul{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-row ul li{
    list-style: none;
    font-size: 0.8rem;
}
.title-row ul li:hover{
    border-bottom: 2px solid red;
    transform: translate(0, -8px);
}
.row{
    /* border: 2px solid greenyellow; */
    margin-top: 2rem;
}
.row h1{
    font-weight: 300;
}
.row-1{
    height: 40vh;
    display: flex;
    gap: 1.2rem;
    margin-bottom: 23px;
    /* flex-wrap: wrap; */

}
.row-2{
    height: 40vh;
    display: flex;
    gap: 1.3rem;


}
.card{
    width: 25%;
    height: 100%;
    background-size: 100% 100%;
}
.card div{
    position: relative;
    top: 41vh;
    text-align: center;
    font-size: 0.7rem;
    /* margin-bottom: 20px; */
}

.checked {
    color: orange;
  }
.card div p {
  color: black;
}
  
  .discount-slideshow-container{
    background-image: url('./pictures/banner-1.jpg');
    background-size: 100% 45vh;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100vw;
    /* border: 2px solid black; */

  }
  .discount-slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .discount-slide-content h6{
    color: red;
    font-size: 20px;
    padding-top: 20px;
  }
  .discount-slide-content  a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid red;
    font-weight: 600;
  }
  .discount-slide-content h3{
    font-size: 70px;
    color: #111111;
    font-family: "Cookie", cursive;
    margin-bottom: 15px;
}
  
.discount-slide-content  a:hover{
    border-bottom: 2px solid red;
    transform: translate(0, -8px);
}


.trend-box{
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  margin-top: 20px;

}
.hot-trend{
  /* border: 2px solid yellow; */
  margin: 10px;
  width: 30vw;
}

.best-seller{
  /* border: 2px solid rgb(81, 194, 16); */
  margin: 10px;
  width: 30vw;

}
.feature{
  /* border: 2px solid rgb(255, 0, 157); */
  margin: 10px;
  width: 30vw;

}

.layout-img{
  width: 100px ;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
}
.layout-box{
  display: flex;
  flex-direction: row;
}
.layout-text{
  margin-top: 10px;
}

.trend-box h2{
  padding-left: 10px;
}

footer{
  /* background-image: url("./pictures/EiserFashion-bg.png"); */
  background-color: rgb(121, 109, 109);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 45vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  /* border: 3px solid green; */
  justify-content: space-around;
}
.foot-box{
  /* border: 4px solid blue; */
}
.subscribe-container {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.email-input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
  
  
}

.subscribe-button {
  background-color: red; /* Red color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  /* border-radius: 10px; */
}
.foot-box4 i{
  background-color: gray;
  width: 35px;
  height: 35px;
  font-size: 20px;
  /* padding: 20px; */
  margin: 10px;
  text-align: center;
  border-radius: 50%;
  padding-top: 2.5%;
}
.foot-box4 i:hover{
  transform: scale(1.3);
}
.foot-box1 img:hover{
  transform: scale(1.3);

}
.foot-box{
  padding-top: 30px;
}
.foot-box1 h2{
  padding-bottom: 5px;
  font-family: cursive;
}
.foot-box h3{
  padding-bottom: 5px;
  /* font-family: cursive; */
}

.foot-box p{
  padding: 5px 0 ;
  
}
.foot-box1 img{
  margin-top: 15px;
}

.footer h4{
  text-align: center;
  padding: 20px 0px;
}
a{
  text-decoration: none;
  color: black;
}

@media (max-width:900px){
  #logo img{
    width: 7rem;
    height: 3rem;
  }
  #list {
    display: none;
  }
  #icons{
    justify-content: center;
    align-items: center;
  }
  .slide1 {
    width: 100%;
    height: 40%;
  }
  .slide1 .txt{
    margin-bottom: 20px;
  }
  .slide2{
    width: 100%;
    height: 30vh;
  }
  .category-container{
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: repeat(4,25vh);
    margin-left: 30px;
  }
  .box1{
    grid-row:1/3;
    grid-column: 1/3;
  }
  .box1 p{
    width: 65%;
  }
  .new-products{
    width: 90vw;
    /* height: 100vh; */
  }
  .title-row h2{
    font-size: 1.2rem;
  }
  .row{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .title-row ul{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 10px;
  }
  .title-row ul li{
    padding: 0px 4%;
    font-size: 1rem;
  }
  .row-1 {
    display: grid;
    grid-template-columns: repeat(2,45vw);
    grid-template-rows: repeat(2,30vh);
    margin-bottom: 10px;
    height: 80vh;
    row-gap: 4.5rem;
  }
  .row-2 {
    display: grid;
    grid-template-columns: repeat(2,45vw);
    grid-template-rows: repeat(2,30vh);
    height: 80vh;
    
    row-gap: 4.5rem;
  }
  .card{
    width: 90%;
    /* display: flex;
    flex-direction: column;
    justify-items: flex-start; */

  }
  .card div{
    position: relative;
    top: 31vh;
    margin-bottom: 30px;
  }
  .discount-slideshow-container{
    margin-top: 45vh;
    background-size: 100% 40%;
    
    
  }
  .discount-slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .discount-slide-content h3 {
    font-size: 2.4em;
  }
 
  .hot-trend{
    width: 50vw;
  }
  .best-seller{
    width: 50vw;
  }
  .feature{
    flex-wrap: wrap;
    width: 50vw;
  }
  footer{
    flex-wrap: wrap;
    background-size: 100% 75%;

  }
  .foot-box{
    height: 35%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 90%; 
  }
  .trend-box{
    flex-wrap: wrap;
  }
}


.card:hover{
  opacity: 0.6;
  
}

/* .title2 {
  position: relative;
  margin-top: 150px;
  margin-left: 100px;
} */
.title2 span {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #2e3d49;
  align-items: center;
}
.title2 .shortdesc2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #2e3d49;
  margin-bottom: 10px;
}
.feedbox {
  margin-top: 50px;
  width: 100%;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url("images/extra/b4.jpg");
  background-size: cover;
  padding: 50px 80px;
  background-attachment: fixed;
  justify-content: center;
  justify-items: center;
}
.feed {
  width: 800px;
  height: 400px;
  position: relative;
  border-radius: 10px;
  justify-content: center;
  box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.6), 0 0 80px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.feed form {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.feed form label {
  position: absolute;
  color: #f2f2f2;
  font-size: 10px;
  font-weight: 800;
}
.feed form input,
.feed textarea {
  padding: 15px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgb(177, 152, 152);
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #2e3d49;
  background: #fff9;
  font-weight: 600;
}
.feed form input {
  margin-bottom: 15px;
  width: 50%;
}
.feed form .fname {
  width: 25%;
}
.feed form textarea {
  width: 100%;
  height: 100px;
}


.shortdesc2 p{
  color: black;
  text-align: center;
}
#feedBACK h2{
  text-align: center;
  margin-top: 40px;
}
#contactus_section {
  font-family: "Open Sans", sans-serif;
  color: #2e3d49;
  position: relative;
}

.csec {
  background: linear-gradient(
    to right,
    var(--color-secondary-light),
    var(--color-secondary)
  );
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 250px;
  top: 200px;
  content: "";
  transform-origin: top right;
  transform: skewY(-10deg);
  z-index: -1;
}
.back-contact {
  margin-top: 0px;
  transform: translateY(-50px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cc {
  height: 400px;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
  background: #fff;
}
.cc form {
  margin: 5%;
  margin-top: 40px;
  width: 90%;
  height: 90%;
}
.cc form label {
  position: absolute;
  color: #2e3d49;
  font-size: 10px;
  font-weight: 800;
}
.cc form input {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px lightgray;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #2e3d49;
  font-weight: 600;
}
.imp {
  color: red;
}
form textarea {
  width: 100%;
  height: 100px;
  box-shadow: inset 0 0 5px lightgray;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  color: #2e3d49;
  font-weight: 600;
  padding: 15px;
}
#csubmit {
  margin-top: 20px;
  background: linear-gradient(
    to right,
    var(--color-secondary-light),
    var(--color-secondary)
  );
  border-radius: 5px;
  border-style: none;
  outline: none;
  width: 100%;
  padding: 15px 25px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}